
.container2{
	background-color: #ffffff;
	margin-left: 7%;
	margin-right: 7%;	
	margin-top: 3%;
	padding: 3%;
	height: 100%;
}

.btn{
	border-radius: 0px;
}

.nav-tabs > li > a{
	border-radius: 0px;	
}

.modal-content{
	border-radius: 0px;
}

.form-control{
	border-radius: 0px;
}

#menu_filtro{
	padding: 3% 30%;	
}

.titulos_menu{
	
	width: 100%;
	
	display: flex;
	align-items: center;
}

#btn_modal_contato{
	margin-left: 1%;
}

#btn_upload_excell{
	margin-left: 60%;
}

.filtro_inicial{
	margin-left: 30%;
}

#filtro_contato{
	border-radius: 0px;

}

.easy-autocomplete input{
	
}